.logo{
    height: 100px;
 
}

.ozgecmis{
    padding-left: 100px;
    padding-right: 100px;
}
.slider{
    height: 400px;
 
}
.safrancicegi{
    width: 250px;
    height: 250px;
}
.cincihani{
   width: 100%;
}
.arkaplan
{
    background-image: url('resimler/152823\,safranbanner1jpg.png');
    background-size: cover;
    font-size: 20px;
    font-family: 'Goblin One', cursive; ;

    
}

.arkaplan2
{
    background-color: #79C2D0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hakkında
{
    width: 400px;
    height: 300px;

}
.yemekresimleri
{
    width: 125px;
    height: 100px;
}
.sehrim
{
    width: 400px;
    height: 300px;
    
}
.mirasimiz
{
    width: 350px;
    height: 200px;
}
.ilgialanlarim
{
    background-image: url('resimler/KIRMIZI.jpg');
    background-size: cover;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:snow;
}
.eskicarsi
{
    width: 100%;
    height: 400px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
